/* CSS Document */

body {
	background-size: contain;
	background-position: bottom;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-image: url('background.png');
	z-index: -1;
}
	
body:before {
	z-index: -1;
	content: '';
	height: 100%;
	width: 100%;
	position: fixed;
	background-size: contain;
	background: rgba(255,255,255,0.3);
	background: -moz-linear-gradient(top, rgba(255,255,255,0.3) 0%, rgba(36,20,0,0.6) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,0.3)), color-stop(100%, rgba(36,20,0,0.6)));
	background: -webkit-linear-gradient(top, rgba(255,255,255,0.3) 0%, rgba(36,20,0,0.6) 100%);
	background: -o-linear-gradient(top, rgba(255,255,255,0.3) 0%, rgba(36,20,0,0.6) 100%);
	background: -ms-linear-gradient(top, rgba(255,255,255,0.3) 0%, rgba(36,20,0,0.6) 100%);
	background: linear-gradient(to bottom, rgba(255,255,255,0.3) 0%, rgba(36,20,0,0.6) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#241400', GradientType=0 );
}

.btn {
	line-height: 1.5 !important;
	height: auto;
}

.table_content .glyphicon {
	padding: 0px;
}

body .btn-success {
    background-color: rgba(36,20,0,0.6);
    border: 1px solid rgba(36,20,0,0.1) !important;
}

body .btn-success:hover,
body .btn-success:active,
body .btn-success:active:focus,
body .btn-success:focus {
    background-color: rgba(36,20,0,0.8);
}

.nav.nav-stacked > li > a {
    padding: 5px 10px;
	border: 1px solid #eeeeee;
	line-height: 1.5 !important
}

form {
	overflow:hidden;
	padding-bottom: 5px;
}

body .main_content .panel .panel-body {
	overflow:visible;
}

body .main_content form {
	overflow:visible;
}

nav {
	margin-top: 15px;
}

.filename {
	margin-bottom: 10px;
	padding: 5px;
}

body .form-group {
	margin-bottom: 0px;
}

.new_file .btn {
	float: left; 
	width: 50%;
}

.btn-file {
	position: relative;
	overflow: hidden;
}

.btn-file input[type=file] {
	position: absolute;
	top: 0;
	right: 0;
	min-width: 100%;
	min-height: 100%;
	font-size: 100px;
	text-align: right;
	filter: alpha(opacity=0);
	opacity: 0;
	outline: none;
	background: white;
	cursor: inherit;
	display: block;
}

.move-col {
	visibility: hidden !important;
	position: absolute;
	z-index: 9997;
	right: 0px;
	top: 3px;
}

.table_content tbody tr td.optimized {
	border: 1px solid #ff0000 !important;
	display: inline-block;
}

.table_content tbody tr td textarea:focus-visible {
	border: 1px solid #ff0000 !important;
}

.table_content tbody tr td input:focus-visible  {
	border: 1px solid #ff0000 !important;
}

.table_content tbody tr td textarea {
	position: absolute;
	width: 300px;
	height: 300px;
	overflow: visible;
	left: 0px;
	top: 0px;
	z-index: 9998;
	border: 1px solid #f00;
	padding: 10px;
}

.table_content tbody tr td .close {
	font-size: 11px;
	text-align: center;
	color: #ff0000;
	border: 1px solid #ff0000;
	padding: 5px;
	box-sizing: border-box;
	height: 20px;
	width: 20px;
	display:block;
	position: absolute;
	z-index: 9999;
	left: 275px;
	top: 5px;
}

.table_content tbody tr td.optimized * {
	color: #ff0000 !important;
}

.table_content tbody tr td {
	position: relative;
}

.table_content tbody tr td:hover  .move-col{
	visibility: visible !important;
}

.table_content {
}

.table_content tr td,
.table_content tr th {
	vertical-align: middle !important;
}

.table_content tr th {
	border: 1px solid #8fda8f !important;
}

.table_content tr td {
	border: 1px solid #e2e2e2 !important;
}

.table_content label {
	margin-right: 10px;
}

.table_content a {
    padding: 5px 8px;
    background-color: #f3f3f3;
    display: inline-block;
    height: auto;
    margin: 0px 1px !important;
    border: 1px solid #e1e1e1;
    line-height: 1em;
    vertical-align: middle;
}

.table_content tr {
	background-color: #ffffff;
}

.table_content tr input {
	border: 0px;
}

.table_content tr td:nth-child(1),
.table_content thead tr th:nth-child(1),
.table_content tfoot tr th:nth-child(1) {
	width: 110px;
	border: 1px solid #8fda8f !important;
}

.table_content thead tr th:nth-child(1) a,
.table_content thead tr th:nth-child(1) label,
.table_content tbody tr td:nth-child(1) label,
.table_content tbody tr td:nth-child(1) a,
.table_content tfoot tr th:nth-child(1) a,
.table_content tfoot tr th:nth-child(1) label {
	margin: 0px 2px;
}

.table_content input {
	width: 100%;
}

.table_content > tbody > tr > td {
	padding: 0px;
	border: 0px;
	white-space: nowrap;
}

.table > thead > tr > th,
.table > tfoot > tr > th {
    border: 0px;
	padding: 0px;
	position: relative;
}

.table > thead > tr > th span {
    position: absolute;
	top: 10px;
	right: 10px;
}

.body-content form {
	padding: 0px;
	margin: 0px;
}

form.sort_file_asc,
form.sort_file_desc {
	margin-top: 10px;
	padding-bottom: 0px;
}

form.convert_file {
	margin: 5px 0px;
	padding: 0px;
}

.history li a {
	cursor: pointer;
}

form.sort_file_asc .form-control,
form.sort_file_desc .form-control {
	margin-bottom: 5px;
}

input[type="text"],
input[type="search"],
input[type="password"],
input[type="email"] {
	display: block;
	width: 100%;
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}